html{
    display: flex;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    background: #222;
}

body::before, body::after {
    font-weight: bold;
    font-family: 'SF Mono', 'Courier New', Courier, monospace;
    font-size: 42px;
    color: #ff4473;
}

head {
    display: block;
    background-image: url(https://media.giphy.com/media/Ju7l5y9osyymQ/giphy.gif);
    height:15rem;
    width:20rem;
    background-repeat: no-repeat;
    border: 5px solid #fff;
    border-radius: 10px;
    border-style: dashed;
    
}
body::before {
    display:inline-block;
    padding-top: 3rem;
    content: "Ilqg wkh Vwbohvkhhw";
}
body::after {
    margin-left: 16px;
    display: inline;
    content: "i";
    background: #ff4473;
    animation: blink 1s infinite;
}
@keyframes blink {
    from {
        opcaity: 1;
    }
    to {
        opacity: 0;
    }
}
/*31 32 37 2e 30 2e 30 2e 31 3a 35 30 30 30 2f 72 69 63 6b 72 6f 6c 6c*/ 